<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>App-mykeep</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="app.css">
<script src="localforage.js"></script>
<script src="jquery-2.1.1.min.js"></script>
<script src="masonry.pkgd.js"></script>
<script src="angular.js"></script>
<script src="angular-masonry.js"></script>
<script src="angular-localforage.js"></script>
<script src="angular-uuid2.js"></script>
<script src="app.js"></script>
<style>
span[contentEditable] {
        cursor: pointer;
        background-color: #D0D0D0;
    }

.masonry-brick {
  border: 1px solid black;
  width: 25%;
  min-height: 3em;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  
  margin-bottom: 16px;
}

h2 {
  display:block;
}

</style>
</head>
<body>
<div ng-app="myApp">
  <h2>Ideas</h2>
  <div ng-controller="TodoCtrl">
    <div id="toolbar">
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
      <span><span ng-bind="remaining()">0</span> of <span ng-bind="todos.length">0</span> remaining</span>
      [ <a href="#" ng-click="archive()">archive</a> ]
    </div>
    <div masonry column-width: "200"; preserve-order load-images="false">
      <div class="masonry-brick" ng-repeat="todo in todos">
        <div style="background-color: {{todo.bgcolor}}">
          <h2 ng-model="todo.title" contenteditable="true" ng-blur="saveItem(todo)">The title</h2>
          <div ng-model="todo.text" contenteditable="true" ng-blur="saveItem(todo)">The text</div>
          <pre ng-bind="todo.id">DEBUG: id of element</pre>
          <pre ng-bind="todo.title">DEBUG: title of element</pre>
          <pre ng-bind="todo.text">DEBUG: content of element</pre>
        </div>
      </div>
    </div>
  </div>
</div>
</body>