<style>
span[contentEditable] {
        cursor: pointer;
        background-color: #D0D0D0;
    }

[contentEditable].empty:before {
  color: gray;
  content: "Title";
}

[contentEditable].empty:focus:before {
  height: 1em;
  content: "|"; /* Erase that placeholder text again */
}

.mybrick {
  border: 1px solid black;
  width: 22%;
  min-height: 3em;
  float: left;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  
  background-color: rgba(255,220,30,1);
  
  margin-bottom: 16px;
}

h2 {
  display:block;
}
</style>

<!-- these should be automagically inserted resp. converted from static
     Javascript which is compiled from the templates -->
<!-- later -->
<script id="tmplItem" type="text/x-handlebars-template">
      <div class="mybrick masonry-brick" id="note-\{\{\id}}" style="background-color: \{\{bgcolor}}">
          <h2 class="empty" contenteditable="true" onblur="saveItem(note)">The title</h2>
          <div contenteditable="true" onblur="saveItem(note)">The text</div>
          <a href="" onclick="archiveItem(note)">x</a>
          <a href="" onclick="syncItem(note)">u</a>
          <span id="sync-\{\{id}}">sync</span>
          <span id="modified-\{\{id}}">\{\{modifiedAt}}</span>
      </div>
</script>

<script id="tmplItems" type="text/x-handlebars-template">
    \{\{#list notes}}
        \{\{> tmplItem note=this }}
    \{\{else}}
        <p>Nothing to see here</p>
    \{\{/list}}
</script>

<div>
  <h2>Ideas</h2>
  <div>
    <div id="toolbar" style="display: block;">
      <a href="#" onclick="syncItems()">Sync</a>
      <form submit="javascript:addTodo()">
        <input type="text" size="30" placeholder="add new note here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    <div id="items">
    {{> tmplItems items }}
    </div>
</div>
