<style>
span[contentEditable] {
        cursor: pointer;
        background-color: #D0D0D0;
    }

[contentEditable].empty:before {
  color: gray;
  content: "Title";
}

[contentEditable].empty:focus:before {
  height: 1em;
  content: "|"; /* Erase that placeholder text again */
}

#topbar {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #fb0;
}

.mybrick {
  border: 1px solid black;
  width: 240px;
  min-height: 3em;
  float: left;
  margin: 16px;
  padding: 8px;

  /* Shadows */
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);

  background-color: rgba(255,220,30,1);

  margin-bottom: 16px;
}

.note-display:hover {
}
/*BG color is a must for IE6*/
.note-display .uiItem {
    display:none;
}
.note-display:hover .uiItem {
    display:inline;
    /* position:absolute; */
}

.note {
    -webkit-transition: width 1s, height 1s, top 1s, left 1s, margin 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s, margin 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s, margin 1s ;
    transition: width 1s, height 1s, top 1s, left 1s, margin 1s;
    -webkit-transition: width 0.1s, height 0.1s, top 0.1s, left 0.1s, margin 0.1s ease-in;
    -moz-transition:    width 0.1s, height 0.1s, top 0.1s, left 0.1s, margin 0.1s ease-in;
    -o-transition:      width 0.1s, height 0.1s, top 0.1s, left 0.1s, margin 0.1s ease-in;
    transition:         width 0.1s, height 0.1s, top 0.1s, left 0.1s, margin 0.1s ease-in;
}

.note-edit {
    width: 600px;

    /* Make it modal */
    z-index: 1010;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: block;
}

.closed {
  display: none !important;
}

#modal-overlay {
    z-index: 1000;

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    opacity:0.5 !important;
}

.note-toolbar-bottom {
    height: 32px;
    margin: 0px;
    padding: 0px;
  display:block;
}

.note-toolbar-top {
    height: 32px;
    margin: 0px;
    padding: 0px;
  display:block;
}

button {
    border: none;
    background-color: transparent;
    display: inline;
}

h2 {
  display:block;
}

iconPin {
    width: 20px;
    height: 20px;
    display: inline;
}

</style>

<!-- these should be automagically inserted resp. converted from static
     Javascript which is compiled from the templates -->
<!-- later -->
<!-- Display and edit template for desktop, display template for mobile -->
<!-- mobile doesn't have :hover ... -->
<!-- animations will work once I move to a DOM-differ -->
<script id="tmplItem" type="text/x-handlebars-template">
<div class="note note-\{\{displayStyle}} mybrick masonry-brick" id="note-\{\{id}}"
          style="background-color: \{\{bgcolor}};"
          \{\{#unless edit}}
          onclick="javascript:UIeditItem(this)"
          \{\{/unless}}
    >

          <input type="hidden" name="id" value="\{\{id}}" />
    <div class="note-toolbar-top">
        \{\{#if pinPosition}}
        <div role="button" class="iconPin uiItem" tabindex="0" aria-label="Pin note" aria-pressed="true" style="user-select: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path d="M16 5h.99L17 3H7v2h1v7l-2 2v2h5v6l1 1 1-1v-6h5v-2l-2-2V5z">
                </path>
                <path fill="none" d="M0 0h24v24H0z">
                </path>
                </svg>
        </div>
        \{\{/if}}
    </div>
          \{\{#ifCond title "||" edit}}
          <h2 contenteditable="\{\{#if edit}}true\{\{else}}false\{\{/if}}">\{\{title}}</h2>
          \{\{/ifCond}}
    <div class="note-text" contenteditable="\{\{#if edit}}true\{\{else}}false\{\{/if}}">\{\{\{text}}}</div>
    <div class="note-toolbar-bottom">
              <!-- These URLs should be made no-Javascript-friendly -->
              <a href="#" class="uiItem" onclick="javascript:archiveItemUI(this,event); return false">x</a>
              <a href="#" class="uiItem" onclick="javascript:UIdeleteItem(this,event); return false">d</a>
              <a href="#" class="uiItem" onclick="javascript:syncItemUI(this,event); return false">u</a>
              <span class="uiItem" id="sync-\{\{id}}">sync</span>
              <span class="uiItem" id="modified-\{\{id}}">\{\{modifiedAt}}</span>
              \{\{#if edit}}
              <a href="#" class="uiItem btn-cancel" onclick="javascript:UIeditDone(this,event,false); return false;">Cancel</a>
              <a href="#" class="uiItem btn-done" onclick="javascript:UIeditDone(this,event,true); return false;">Done</a>
              \{\{/if}}
    </div>
</div>
</script>

<!-- desktop edit -->
<script id="tmplEditItem" type="text/x-handlebars-template">
<div class="note note-edit mybrick masonry-brick" id="edit-container"
          style="background-color: \{\{bgcolor}};"
    >
          <input type="hidden" name="id" value="\{\{id}}" />
    <div class="note-toolbar-top">
        \{\{#if pinPosition}}
        <div role="button" class="iconPin uiItem" tabindex="0" aria-label="Pin note" aria-pressed="true" style="user-select: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path d="M16 5h.99L17 3H7v2h1v7l-2 2v2h5v6l1 1 1-1v-6h5v-2l-2-2V5z">
                </path>
                <path fill="none" d="M0 0h24v24H0z">
                </path>
                </svg>
        </div>
        \{\{/if}}
    </div>
    <h2 contenteditable="true">\{\{title}}</h2>
    <div class="note-text" contenteditable="true">\{\{\{text}}}</div>
    <div class="note-toolbar-bottom">
              <!-- These URLs should be made no-Javascript-friendly -->
              <a href="#" class="uiItem" onclick="UIarchiveItem(this,event); return false;">x</a>
              <a href="#" class="uiItem" onclick="UIdeleteItem(this,event); return false;">d</a>
              <a href="#" class="uiItem" onclick="syncItemUI(this,event); return false;">u</a>
              <span class="uiItem" id="sync-\{\{id}}">sync</span>
              <span class="uiItem" id="modified-\{\{id}}">\{\{modifiedAt}}</span>
              <a href="#" class="uiItem btn-cancel" onclick="javascript:UIeditDone(this,event,false); return false;">Cancel</a>
              <a href="#" class="uiItem btn-done" onclick="javascript:UIeditDone(this,event,true); return false;">Done</a>
    </div>
</div>
</script>

<script id="tmplItems" type="text/x-handlebars-template">
<div id="items">
    \{\{#each notes}}
        \{\{> tmplItem note=this }}
    \{\{else}}
        <p>Nothing to see here</p>
    \{\{/each}}
</div>
</script>

<script>
var templates = {};
// Compile all our templates, until we can do that statically
$('script[type="text/x-handlebars-template"').each(function(i, item) {
    //console.log([$(item).attr('id'), $(item).html()]);
    // We should unescape the template here, later
    var html = $(item).html();
    var name = $(item).attr('id');
    html = html.replace(/\\{/g, "{"); // Goddamn Text::Handlebars

    var r = Handlebars.compile(html);
    //console.log(r);
    templates[name] = r;
    Handlebars.registerPartial(name, r);
});

var html = $("#tmplItems").html();
html = html.replace(/\\{\\{/g, "{"+"{"); // Goddamn Text::Handlebars
var tmplItems = Handlebars.compile(html);
</script>

<div>
  <!-- app-bar -->
  <div id="topbar"><div style="display:inline">Ideas</div>
      <form action="." method="POST" onsubmit="javascript:UIfilterItem(); return false;">
        <input name="search" type="text" size="30" placeholder="search" onchange="javascript:UIfilterItem(); return false;" />
        <button class="search" aria-label="Search" role="button" tabindex="0">
        <svg height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>
        </button>
      </form>
      <button arial-role="Refresh" onclick="UIlistItems()" user-select="none">Refresh</button>
  </div>
  <div>
    <div id="new-note-toolbar" style="display: block;">
      <form action="." method="POST" onsubmit="javascript:UIaddItem(); return false;">
        <input type="text" name="newNoteBody" id="newNoteBody"  size="30" placeholder="add new note here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    <div id="items"><div>...loading...</div><!-- this should be rendered server-side, some day -->
    </div>
  </div>
</div>
<div id="edit-container"><div></div></div>
<div id="modal-overlay" class="closed">XXX</div>