<style>
#topbar {
    display: block;
    margin: 0px;
    padding: 0px;
    background-color: #0bf;
}
</style>
<script id="tmplSearch" type="text/x-handlebars-template">
</script>

<script>
var templates = {};
// Compile all our templates, until we can do that statically
$('script[type="text/x-handlebars-template"').each(function(i, item) {
    var html = $(item).html();
    var name = $(item).attr('id');
    html = html.replace(/\\{/g, "{"); // Goddamn Text::Handlebars

    var r = Handlebars.compile(html);
    //console.log(r);
    templates[name] = r;
    Handlebars.registerPartial(name, r);
});

Handlebars.registerHelper('checked', function(currentValue) {
    return currentValue == '1' ? ' checked="checked"' : '';
});

// As soon as we click one item or have three letters in the search bar,
// filter and redraw the items

</script>

<div id="container">
  <!-- app-bar -->
  <div id="topbar" class="search"><div style="display:inline">Search</div>
      <form action="." method="POST" onsubmit="javascript:UIfilterItem(); return false;">
        <input name="search" type="text" size="30" placeholder="search" onchange="javascript:UIfilterItem(); return false;" />
        <a href="index.html" tabindex="0" onclick="UIdisplayPage(); return false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
        </a>
        <button class="search" aria-label="Search" role="button" tabindex="0" onclick="return false;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
        </button>
      </form>
        <a href="./settings.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></svg>
        </a>
  </div>
  <div>
    <div id="items"><div>...searching...</div><!-- this should be rendered server-side, some day -->
    </div>
  </div>
</div>